{% extends 'layout.html.twig' %}

{% block title %}
	{{parent()}}
	- Article
{% endblock %}

{% block content %}


	<div class="row d-flex justify-content-center text-center">

		<h5 class="lead text-muted">{{ article.titre }}</h5>

		<h6 class="fw-light">
			Crée le :
			{{ article.dateDeCreation | date("d/m/Y \à H\\hi") }}
		</h6>

		{% if article.dateDeModification is null %}
			<h6 class="fw-light">
				Modifié le :
				{{ article.dateDeModification | date("d/m/Y \à H\\hi") }}</h6>
		{% endif %}

		<h6 class="fw-light">Auteur :
			{{ article.id }}
		</h6>

		<p class="lead text-muted">
			{{ article.contenu }}
		</p>

	</div>
{% endblock %}
